<!--
blue = #a8d8ea
purle = #aa96da
pink = #fcbad3
yellow = #ffffd2
-->

body {
    background-color: black;
}

#mainbody {
    background-color: aliceblue;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 18px;
    padding: 20px;
    text-align: left;
}

.area-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
